body {
      margin: 0;
      overflow: hidden;
      background: #fff0f5;
    }

    .heart {
      width: 20px;
      height: 20px;
      position: absolute;
      background-color: red;
      transform: rotate(45deg);
      bottom: -30px;
      animation: subir 4s linear forwards;
    }

    .heart::before,
    .heart::after {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      background-color: red;
      border-radius: 50%;
    }

    .heart::before {
      top: -10px;
      left: 0;
    }

    .heart::after {
      left: -10px;
      top: 0;
    }

    @keyframes subir {
      0% {
        transform: translateY(0) rotate(45deg);
        opacity: 1;
      }

      50% {
        opacity: 0.3;
      }

      100% {
        transform: translateY(-120vh) rotate(45deg);
        opacity: 0;
      }
    }