body {
  margin: 0;
  overflow: hidden;
  background: #fff0f5;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem; /* espaçamento entre título e pergunta */
  width: 100%;
  
}

.title {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.title .box {
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 10px 10px 10px rgb(73, 37, 37);
  font-weight: bold;
}

.pergunta {
  width: 400px;
  height: 350px;
  background-color: black;
  border-radius: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;

   
}

.alternativas {
  display: grid;
  grid-template-columns: 1fr 1fr  ;
  gap: 20px;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
  justify-items: center;
}

.alternativas button {
 
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: #ffb6c1;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 180px;
 
}

.alternativas button:hover {
  background-color: #ff69b4;
  color: white;
}
